name: Docker images building and pushing
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  legacy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Defaults to npm
      - name: Docker meta for Cypress executor
        id: meta_cypress_executor_default
        uses: docker/metadata-action@v3
        with:
          images: kubeshop/testkube-cypress-executor
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
          flavor: |
            prefix=
            suffix=-legacy

      - name: Build Default Cypress Runner
        uses: docker/bake-action@v1
        with:
          files: |
            build/agent/docker-bake.hcl
            ${{ steps.meta_cypress_executor_default.outputs.bake-file }}
          targets: npm
          push: true

  cypress11:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta for Cypress executor version 11
        id: meta_cypress_executor
        uses: docker/metadata-action@v3
        with:
          images: kubeshop/testkube-cypress-executor
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
          flavor: |
            latest=auto
            prefix=
            suffix=-cypress11

      - name: Build Cypress executor version 11
        uses: docker/bake-action@v1
        with:
          files: |
            build/agent/docker-bake.hcl
            ${{ steps.meta_cypress_executor.outputs.bake-file }}
          targets: cypress11
          push: true

  allcypresses:
    strategy:
      matrix:
        version: [yarn, cypress8, cypress9, cypress10]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta for Cypress executor ${{ matrix.version }}
        id: meta_cypress_executor
        uses: docker/metadata-action@v3
        with:
          images: kubeshop/testkube-cypress-executor
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
          flavor: |
            prefix=
            suffix=-${{ matrix.version }}

      - name: Build ${{ matrix.version }} Cypress executor
        uses: docker/bake-action@v1
        with:
          files: |
            build/agent/docker-bake.hcl
            ${{ steps.meta_cypress_executor.outputs.bake-file }}
          targets: ${{ matrix.version }}
          push: true
